@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}
@media screen and (min-width: 1400px) {
    .hashtag-container{
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
@media screen and (max-width: 1400px) {
    .hashtag-container{
        display:grid;
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width: 1000px) {
    .hashtag-container{
        display:grid;
        grid-template-columns: auto auto;
    }
}

.hashtag{
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    margin: 10px;
    padding: 0 5px 0 5px;
    color: #901C1C;

}
.hashtag a{
    color: inherit;
    text-decoration: none;
}

.photographer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer-wrapper article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer-wrapper article .figure {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer-wrapper article h2 {
    color: #D3573C;
    font-size: 30px;
}

.photographer-wrapper article img {
    height: 200px;
    width: 200px; 
    border-radius: 50%;
    object-fit: cover;
    /* overflow: hidden; */
}
.photographer-wrapper article .text-container{
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.photographer-wrapper article .text-container h3{
    color: #D3573C;
    font-size: 15px;
}
.photographer-wrapper article .text-container .tagline{
    color: #1b0404;
}
.photographer-wrapper article .text-container .price{
    color: rgb(85, 78, 78);
}